version: "3.8"

services:

  feed-archiver:
    image: "rpatterson/feed-archiver"
    container_name: "feed-archiver"
    # Needed because we expect the container to run once and exit and to be run by
    # ofelia from then on.
    restart: "no"
    # Match permissions inside and outside the container
    user: "${PUID:-1000}:${PGID:-100}"
    environment:
      # Find the same configuration file even when run as another user, e.g. `root`.
      HOME: "/home/feed-archiver"
    working_dir: "${FEED_ARCHIVE}"
    labels:
      ofelia.enabled: true
      ofelia.job-run.feed-archiver-update.schedule: "@hourly"

  sonarr:
    image: "ghcr.io/hotio/sonarr"
    container_name: "sonarr"
    environment:
      # Can't use Docker's `--user` option for images based on `s6-overlay`
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-100}"
      TZ: "America/Los_Angeles"
    volumes:
      - "./sonarr/config/:/config/"
    # Add this uncommented to your deployment's `./docker-compose.override.yml`
    # ports:
    #   - "8989:8989"
    restart: "unless-stopped"
    healthcheck:
      test: >-
        curl -Lv
        "http://sonarr:8989/api/system/status?apikey=${SONARR_API_KEY:-}" |
        grep '"appData": *"/config"'
