version: "3.8"

services:

  ## Container for use by end users:
  feed-archiver:
    image: "registry.gitlab.com/rpatterson/feed-archiver"
    container_name: "feed-archiver"
    # Needed because we expect the container to run once and exit and to be run by
    # ofelia from then on.
    restart: "no"
    environment:
      TZ: "${TZ:-Etc/UTC}"
      # Make the run-time user configurable in `./.env` to match permissions inside and
      # outside the container.  Default to the common/standard main/first user and group
      # IDs
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-100}"
      # Find the same configuration file even when run as another user, e.g. `root`.
      HOME: "/home/feed-archiver"
    working_dir: "${FEED_ARCHIVE:-/media/Library/feeds/}"
    labels:
      ofelia.enabled: true
      ofelia.job-run.feed-archiver-update.schedule: "@hourly"

  # See `./docker-compose-servarr.yml` for an example Sonarr configuration
